TMDB_API_KEY=coloque_sua_chave_tmdb_aqui
XTREAM_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36
UPSTASH_REDIS_REST_URL=https://xxxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=xxxx
ADDON_NAME=Xtremio
# Opcional, apenas para preparar auth futuro. Hoje não é obrigatório.
ADDON_AUTH_TOKEN=
